body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container */
.container {
    background: #ffffff;
    padding: 25px;
    border-radius: 20px;
    width: 420px;
    text-align: center;
    box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}

/* Title */
h1 {
    margin-bottom: 20px;
    color: #333;
}

/* Labels */
label {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    width: 100%;
}

/* Input Section */
.input-section {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 15px;
}

input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

#taskDate, #taskTime {
    width: 48%;
}

#taskInput {
    width: 100%;
}

/* Search */
#searchInput {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
}

/* Button */
button {
    padding: 10px;
    background: #667eea;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
li button {
     width: auto;
     padding: 5px 8px;
     font-size: 12px;
     margine-left: 5px;
}

/* Task List */
#taskList {
    max-height: 250px;
    overflow-y: auto;
    margin-top: 10px;
}

/* Task Item */
li {
    list-style: none;
    background: #f4f6fb;
    margin-top: 12px;
    padding: 12px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

li span {
    flex: 1;
    text-align: left;
    word-break: break-word;
}

/* Completed */
.completed {
    text-decoration: line-through;
    color: green;
}

/* Dark Mode */
.dark-mode {
    background: #1a202c;
    color: white;
}

.dark-mode .container {
    background: #2d3748;
}

.dark-mode li {
    background: #4a5568;
}

.dark-mode input {
    background: #2d3748;
    color: white;
}

.dark-mode h1 {
    color: white;
}
.filter-buttons {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.filter-buttons button {
    flex: 1;
    padding: 8px;
}